/* `Body
----------------------------------------------------------------------------------------------------*/
body {
  background: white; }

.mobile {
  display: none !important; }

.mob-nav {
  display: none; }

/* `Headings
----------------------------------------------------------------------------------------------------*/
header {
  background: white;
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  /* Safari */
  width: 100%;
  padding-top: 0px;
  z-index: 9999; }

nav {
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  /* Safari */
  padding: 0px;
  margin: 0 auto; }
  nav ul {
    text-align: center; }
    nav ul li {
      display: inline-block;
      text-align: center; }

.top-scroll {
  top: 0px !important; }

header.header-home {
  position: absolute; }
  header.header-home nav {
    display: block;
    position: absolute;
    top: 40px; }
    header.header-home nav ul, header.header-home nav li {
      display: block;
      font-size: 16px;
      margin-bottom: 30px; }
  header.header-home .left-menu {
    left: 5%;
    text-align: left; }
  header.header-home .right-menu {
    right: 5%;
    text-align: right; }

.header {
  padding: 10px 10%;
  margin-top: -100px;
  height: 73px; }
  .header .left-item {
    float: left;
    padding-top: 18px; }
  .header .right-item {
    float: right;
    padding-top: 18px; }
  .header .no-padd {
    padding: 0;
    margin: 0; }
  .header li {
    display: inline-block; }
    .header li a {
      color: black;
      font-size: 14px; }
  .header img {
    width: 50px; }

.small-logo {
  width: 50px; }

.shadow {
  box-shadow: 0px 0px 10px 3px #777; }

.home-logo {
  width: 70%; }

img.menu {
  width: 30px;
  top: 25px;
  right: 5%;
  position: absolute; }

/* `Divs
----------------------------------------------------------------------------------------------------*/
.cd-section {
  height: 100vh;
  position: relative; }

/* `Footer
----------------------------------------------------------------------------------------------------*/
div#footer.parallax__group {
  height: 200px;
  overflow: auto;
  margin-top: 150px; }

.footer-content {
  padding-top: 20px; }

footer {
  background-color: white;
  text-align: left;
  position: relative;
  width: 100%; }

footer p, footer a {
  padding-bottom: 5px;
  font-size: 14px;
  color: #c2b49a;
  text-align: center; }

a.blink {
  position: absolute;
  right: 5%;
  top: 20px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  text-transform: lowercase; }

a.blink:hover {
  color: aqua; }

/* `Button
----------------------------------------------------------------------------------------------------*/
.button {
  background-color: white;
  border: 1px solid #58595b;
  color: #58595b;
  padding: 10px 50px;
  padding-top: 12px;
  margin-top: 30px; }

.button:hover, .button:focus, .button:active {
  color: white;
  background-color: #58595b;
  border-bottom-color: 0; }

.flexslider .button {
  position: relative;
  top: 50%;
  z-index: 999; }

.flex-direction-nav a {
  top: 30% !important; }

/* `Contact Form ----------------------------------------------------------------------------------------------------*/
form.wpcf7-form {
  padding-top: 40px; }

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
  width: 60%; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  background-color: black;
  font-family: inherit;
  border: 2px solid #c2b49a;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  color: #c2b49a;
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 60%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  border-radius: 0px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background-color: black;
  border: 2px solid #c2b49a; }

input[type="submit"] {
  background-color: #c2b49a;
  color: black;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  width: 60%;
  border: 0.5px solid black;
  border-radius: 0px;
  margin-top: 10px;
  letter-spacing: 2px; }

input[type="submit"]:hover {
  background-color: #222;
  color: white;
  cursor: pointer; }

div.wpcf7-validation-errors {
  width: 60%;
  color: #f7e700;
  font-family: 'Montserrat', sans-serif; }

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
  width: 60%;
  color: #398f14;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

div.wpcf7-response-output {
  padding: 1em 1em !important; }

/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/
.wpcf7-list-item input[type="radio"] {
  display: none; }

.wpcf7-list-item label {
  display: inline-block;
  background-color: black;
  border: 2px solid #c2b49a;
  padding: 20px 30px;
  font-family: 'Montserrat', sans-serif;
  color: #c2b49a;
  text-transform: uppercase; }

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label {
  color: white; }
