.cd-section {
  height: 100vh; }

.cd-section:first-of-type > div {
  background-color: #2b334f; }

.cd-section:nth-of-type(2) > div {
  background-color: #2e5367; }

.cd-section:nth-of-type(3) > div {
  background-color: #267481; }

.cd-section:nth-of-type(4) > div {
  background-color: #fcb052; }

.cd-section:nth-of-type(5) > div {
  background-color: #f06a59; }

[data-animation="parallax"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

[data-animation="parallax"] .cd-section:first-of-type > div {
  background-image: url("../img/img-1.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg"); }
