/*Styles
  --------------------------------------------- */
body, html {
  font: 100%/1.5 Arial; }

* {
  margin: 0;
  padding: 0; }

/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* style the groups
  --------------------------------------------- */
#home {
  z-index: 4;
  /* slide over group 2 */ }

#home {
  background: url(../images/image-first.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#about {
  z-index: 2;
  /* slide under groups 1 and 3 */ }

#group3 {
  z-index: 4;
  /* slide over group 2 and 4 */ }

#group3 {
  background: transparent; }

#services {
  z-index: 2;
  /* slide under group 3 and 5 */ }

#services {
  background: white; }

#group5 {
  z-index: 4;
  /* slide over group 4 and 6 */ }

#group5 {
  background: transparent; }

#event {
  z-index: 2;
  /* slide under group 5 and 7 */ }

#event {
  background: white; }

#group7 {
  z-index: 3;
  /* slide over group 7 */ }

#group7 {
  background: transparent; }

#consulting {
  z-index: 2;
  /* slide over group 7 */ }

#consulting {
  background: white; }

#group9 {
  z-index: 3;
  /* slide over group 7 */ }

#group9 {
  background: transparent; }

#inspiration {
  z-index: 2;
  /* slide over group 7 */ }

#inspiration {
  background: white; }

#group11 {
  z-index: 3;
  /* slide over group 7 */ }

#group11 {
  background: transparent; }

#contact {
  z-index: 2;
  /* slide over group 7 */ }

#contact {
  background: white; }
