@media only screen and (max-width: 1024px) {
	
	.header{
		padding: 10px 2.5%;
	}	
}

@media only screen and (max-width: 960px) {
	
	li.left-item, li.right-item{
		display: none;
	}
	
	ul.mob-nav{
		padding-top: 70px;
		background: rgba(255,255,255,0.95);
		width: 100vw;
		height:100vh;
		margin-left: -2.5%;
	}	
	.mob-nav{
		display: none;
		li{
			display: block;
			margin-left: 0px;
			padding: 20px;
		}
	}
	
	.mobile{
		display: block !important;
	}
	
	li.no-padd{
		position: absolute;
		z-index: 2;
		left: 47%;
	}
	
	.home-logo{
		width: 100%; 
	}
	
	.title h2{
		font-size:30px;
	}
}


@media only screen and (max-width: 640px) {
	
	.title{
		width: 90%;
	}	
}

