$gold: #c39a6b;


h1, h2, h3, a, p, li{
	color: $gold;
	letter-spacing: 4px;
	font-family: 'Montserrat', sans-serif;
} 

h1, h3, a{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

a{
	margin-bottom: 20px !important;
	display: block;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	letter-spacing: 0.2px;
	line-height: 1.6em;
	font-size: 16px;
	margin-bottom: 20px !important;
}

.body-copy{
	a{
	}
}

a:hover{
	color: #666;
}


h1 {
    position: relative;
    margin-top: 20px;
    text-align:left;
    width: 100%;
    
 }

h1.title {
    margin-top: 0;
    margin-bottom: 40px;
}
  
h1.title:before {
    content: "";
    display: block;
    border-top: solid 2px $gold;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
  
h1.title span {
    background: black;
    padding-right: 20px;
    position: relative;
    z-index: 5;
}


h2{
}

h3{
	margin-bottom: 20px;
}

nav{
	li{
		text-align: right;
		padding-bottom: 5px;
	}
	a{	
		margin-bottom: 0px !important;
	}
}

.button{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}

.page-id-56 {
	h3{
		margin-bottom: 20px !important;
	}
	p{
		margin-bottom: 0px !important
	}
}

